<!DOCTYPE html>
<html ng-app="lobby" ng-controller="AppCtrl">
  <head>
    <title>Electronic Receptionist</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <%- body %>

    <script src="app.js"></script>
    <script src="app.tpl.js"></script>

  </body>
</html>
