<!DOCTYPE html>
<html>
<head>
    <title>mediascreen</title>
    <link href="styles/mediascreen.css" rel="stylesheet">
    <meta charset="utf-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript">
    function GetClock(){
      var d=new Date();
      var nhour=d.getHours(),nmin=d.getMinutes();
      if(nmin<=9) nmin="0"+nmin

      document.getElementById('kello').innerHTML=""+nhour+":"+nmin+"";
    }

    window.onload=function(){
      GetClock();
      setInterval(GetClock,1000);
    }
  </script>
  <script type="text/javascript">
    (function bjson() {
      _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
      };
      var tpl = _.template(
        "<article>" +
          "<div style='background-image:url({{cover_url}})'></div>" +
          "<h1>{{title}}</h1>" +
          "{{summary}} <span>by {{authors[0].firstname}} {{authors[0].lastname}}</span>" +
        "</article>");
      $.getJSON("/api/blog", function(json) {
        for (i = 0; i < json.articles.length; i++) {
          var entry = json.articles[i];
          console.log(tpl(entry));

          $('.blog').append(tpl(entry));
        }
      });
    })();
  </script>
  <script type="text/javascript">
    (function wjson() {
      var wAPI = "http://api.openweathermap.org/data/2.5/weather?id=658225";
      jQuery.getJSON(wAPI, function(json){
        var pic=json.weather[0].icon;
        var temp=json.main.temp;
        var desc=json.weather[0].main;
        var picture = "<img src =\"http://openweathermap.org/img/w/"+pic+".png\" style=\"width:100%\"/>";
        $('#wpic').append(picture);
        $('#weather').text(desc+" "+(parseFloat(temp)-273).toFixed(1)+" °C");
      });
    })();
  </script>
</head>
<body>
  <%- body %>
</body>
</html>
