<!DOCTYPE html>
<html ng-app="mediascreen">
<head>
    <title>Futurice</title>
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link href="../styles/mediascreen.css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
  <%- body %>
  <script src="../mediascreen.js"></script>
  <script src="../mediascreen.tpl.js"></script>
</body>
</html>
