<form id="openspace_register">
  <div class="row">
    <div class="medium-6 columns">
      <label>First Name <span class="asterisk">*</span>
        <input type="text" ng-model="person.first_name" />
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Last Name <span class="asterisk">*</span>
        <input type="text" ng-model="person.last_name" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Phone Number <span class="asterisk">*</span>
        <input type="text" ng-model="person.phone" />
      </label>
    </div>
    <div class="medium-6 columns">
      <label>E-Mail <span class="asterisk">*</span>
        <input type="text" ng-model="person.email" />
      </label>
    </div>
  </div>
  <div class="form-info right">
    <span class="asterisk">*</span> Required
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>What are you up to?
        <textarea name="comments" placeholder="Feel free to leave any comments here."></textarea>
      </label>
    </div>
  </div>
  <button type="submit" ng-click="register()"  class="button success expand radius" >Register</button>
</form>
