<section class="intro medium-8">
  <h2>Employee lookup</h2>
  <p>Let's see if we can find what you're looking for.<br>Type the name of the person below.</p>

  <input type="text" class="medium-8" placeholder="Who should we find?" ng-model="searchText" ng-change="filterEmployees()" auto-focus>
</section>

<section class="employees-container medium-8">
  <ul class="employees" ng-show="searchText.length">
    <li
      ng-repeat="employee in filteredEmployees.slice(0, show_i)"
      class="box clearfix">
      <img ng-src="{{employee.portrait_thumb_url}}" alt="" class="portrait">
      <div class="left">
        <strong>{{employee.first_name}} {{employee.last_name}}</strong>
        <span class="email"><i class="fa fa-envelope-square"></i> {{employee.email}}</span>
        <span class="phone"><i class="fa fa-phone-square"></i> {{employee.phone1}}</span>
      </div>
      <div class="right">
        <a class="button success" ng-click="notify(employee)">Send Notification</a>
      </div>
      
    </li>
  </ul>
  <button ng-if="filteredEmployees.length == show_i && searchText.length" type="submit" class="button success expand radius" ng-click="loadMore()">Load more...</button>
</section>

<div class="box alert medium-8" ng-if="!filteredEmployees.length && searchText.length">
  No results match your search.
</div>
