body{
	color: #063642;
	background-color: #E3ECEC;
	margin-top:40px;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

header{
	margin: auto;
	width: 1200px;
	height: 100px;
	margin-bottom: 30px;

}
#ylapalkki{
	background-color: #063642;
	color: white;
	position: absolute;
	top: 0;
	width: 1200px;
	height: 25px;
	padding: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius:5px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 3px grey;
}
#weather{
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	float:left;
	width: 200px;
}
#wpic{
	padding-top: 30px;
	float: left;
	width: 100px;
}
#logo{
	padding-top: 10px;
	padding-bottom: 20px;
	float:left;
	width: 500px;
}
h1{
	color: white;
}
#logo img {
	max-width:100%;
}

#kello{
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 94pt;
	float:right;

}
section{
	width: 1200px;
	margin: auto;
	padding:25px;
	max-height: 100%;
}

.box_left{
	width: 580px;
	float: left;
	background-color: #349D4A;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0px 0px 3px grey;
}

.box_right{
	width: 580px;
	float:right;
	background-color: #349D4A;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0px 0px 3px grey;
}