<header>

  <div id="wpic"></div>
  <div id="weather"></div>

  <div id="logo"><img src="http://static.flockler.com/assets/futurice/images/futurice-logo--green.svg">
</div>

<div id="kello"></div>

</header>

<section class="blog"></section>

<footer>Read more from the Futurice blog!</footer>
