$headerHeight: 4.5rem

body
  font-size: 18px
  font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif
  font-weight: 300
  line-height: 1.4
  color: #210f04
  word-break: break-word
  -webkit-font-smoothing: antialiased
  margin: 0 auto
  background: $futuriceLightGreen
  color: $futuriceDarkBlue

header
  height: $headerHeight
  background: $futuriceGreen
  position: relative

  h1
    display: inline-block
    margin: 0
    padding: 10px 20px
    height: 100%

  img
    display: block
    width: auto
    height: 100%
    float: left
    position: absolute
    left: 20px
    top: 0px
    padding-top: 10px
    padding-bottom: 10px 

  p
    float: right
    padding: 5px

  p.tagline
    display: inline-block
    position: absolute
    top: -5px
    right: 20px
    height: 100%
    margin: 0
    line-height: $headerHeight
    color: $white

  i
    float: right
    padding: 5px

  .button
    float: right
    margin: 0
    display: inline-block
    height: 100%
    width: 100%
    background: transparent
    color: $white

    &:hover, &:active
      background: $futuriceLightGreen

.container
  padding: 2rem

.intro
  margin: 0 auto 3rem auto
  text-align: center

  h2
    font-size: 32px
    font-weight: bold

textarea
  min-height: 7rem

.box
  margin: 0 auto
  background: $white
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
  padding: 1rem

.main-nav
  li
    display: block
    float: left
    list-style-type: none
    width: 100%

  a
    display: block
    margin: 1rem
    height: 8rem
    background: $white
    color: $futuriceDarkBlue
    font-size: 32px
    font-weight: bold
    box-shadow: 0 1px 2px rgba(0,0,0,0.1)
    border-radius: 4px
    text-align: center
    line-height: 6rem

    &:hover, &:active
      background: $white
      color: $futuriceDarkBlue

    i
      display: inline
      width: 2rem
      margin: 2rem
      position: absolute
      left: 2rem

table
  width: 100%


.employees-container
  margin: 0 auto

  ul.employees
    margin: 0
    margin-top: 1rem

    li
      list-style-type: none
      margin-bottom: 1rem
      cursor: pointer
      transition: .2s all

      &:hover, &:focus, &:active
        background: $futuriceGreen
        color: $white

  .portrait
    float: left
    margin-right: 1rem
    width: 5rem
    max-height: 10rem
    -webkit-filter: grayscale(.5)
    border-radius: 4px
    border: 2px white solid

  .phone, .email
    display: block
    margin-left: 0.5rem

.form-info
  font-size: $form-label-font-size
  margin-bottom: 0.5rem

.asterisk
  color: red

.profile-image
  width: 100px
  height: 100px
  float: left
  margin-right: 1rem
  border: #fff 1px solid
  border-radius: 4px
