
<section>
    <div class="row">
      <div class="large-6 columns">
        <h3>Create media screen message</h3>
        <form>
          <label>Title
            <input type="text" ng-model="message.title">
          </label>
          <label>Description
            <textarea ng-model="message.description"></textarea>
          </label>
          <label>Visibility time
            <p>Current: {{message.visibilityTime/60000}} minutes</p>
            <a class="button secondary" ng-click="setVisibility(5)">5 min</a>
            <a class="button secondary" ng-click="setVisibility(10)">10 min</a>
            <a class="button secondary" ng-click="setVisibility(20)">20 min</a>
            <a class="button secondary" ng-click="setVisibility(30)">30 min</a>
            <a class="button secondary" ng-click="setVisibility(60)">1 hour</a>
            <a class="button secondary" ng-click="setVisibility(180)">3 hours</a>
          </label>

          <button type="submit" class="button success expand radius" ng-click="createMessage()">Create message</button>
        </form>
      </div>
      <div class="large-6 columns">
        <h3>Messages</h3>
        <table ng-show="messages.length">
          <tr>
            <th>Time</td>
            <th>Title</td>
            <th>Description</td>
            <th>Visible</td>
            <th></th>
          </tr>

          <tr ng-repeat="msg in messages | orderBy:predicate">
            <td> {{msg.createdAt | amCalendar}}</td>
            <td> {{msg.title}}</td>
            <td> {{msg.description}}</td>
            <td> {{msg.forceVisible}}</td>
            <td><a class="button small alert" ng-click="deleteMessage(msg)">Delete</a></td>
          </tr>
        </table>
        <div ng-hide="messages.length">No messages.</div>

<div> {{errors}}</div>
      </div>
    </div>
  <div id="errors" ng-bind="errors"></div>
</section>

<div id="errorPopup" class="reveal-modal" data-reveal>
  <h2><i class="fa fa-warning"></i> {{errors}}</h2>
  <div class="right">
    <a class="button secondary" ng-click="closeModal()">OK</a>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="successPopup" class="reveal-modal" data-reveal>
  <h3><i class="fa fa-info-circle"></i> Succesfully created a message:<br>
    Visible until {{created | amCalendar}}</h3>
  <div class="right">
    <a class="button secondary" ng-click="closeModal()">OK</a>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>