<section class="intro medium-6">
  <h2>Event log</h2>
</section>

<a class="success button" ng-click="timeWindow=0">Show all</a>
<a class="success button" ng-click="filterDay()"> Show day</a>
<a class="success button" ng-click="filterMonth()">Show month</a>
Search: <input ng-model="searchText">

<table id="searchTextResults">
	<tr class="row">
		<th class="small-2 columns"> Time</td>
		<th class="small-2 columns"> Event </td>
		<th class="small-8 columns"> Details </td>
	</tr>
	<tr class="row" ng-repeat="event in systemEvents | filter:searchText | filter :{timestamp:timeWindow} :tstampgt |  orderBy:predicate">
		<td class="small-2 columns"> {{event.createdAt | amCalendar}} </td>
		<td class="small-2 columns"> {{event.name}}</td>
		<td class="small-8 columns"> {{event.details}}</td>
	</tr>
</table>

<div> {{errors}}</div>